body {
  background-color: #191414;
  color: white;
}

.login-container {
  display: flex;
  min-width: 100vh;
  min-height: 100vh;
  background-color: #191414;
  color: #1DB954;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome-auth-page {
  font-size: 50px;
  align-self: center;
  width: 100%;
}

#auth-val {
    width: 75vh;
}

.artist-info {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.artist-info h1{
  text-align: center;
  width: 100%;
}

.artist-info > img {
  border: solid 5px #1DB954;
}

.carosel-container {
  display: flex;
}
